@import "normlize.css";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
   padding: 0;
   margin: 0;
   font-family: "Hanken Grotesk", sans-serif;
   box-sizing: border-box;
}
img {
   display: block;
}
a {
   text-transform: none;
}
ul {
   list-style: none;
}
main {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   padding: 15px;
}
@media screen and (max-width: 560px) {
   main {
      flex-direction: column;
      padding: 0;
      justify-content: flex-start;
   }
}
.card {
   padding: 40px 40px;
   width: 100%;
   max-width: 375px;
   border-radius: 30px;
   height: 537.11px;
   max-height: 537.11px;
}
@media screen and (max-width: 650px) {
   .card {
      padding: 20px;
   }
}
@media screen and (max-width: 560px) {
   .card {
      max-width: 100%;
      max-height: none;
      height: fit-content;
   }
}
.result-card {
   background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   z-index: 100;
}
@media screen and (max-width: 560px) {
   .result-card {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
   }
}
.result-card > .result-card__title {
   text-align: center;
   font-size: 22px;
   color: hsl(241, 100%, 89%);
}
.result-card > .card__status--title {
   text-align: center;
   font-size: 24px;
   color: hsl(0, 0%, 100%);
   font-weight: 700;
   margin-bottom: 25px;
}
.result-card > .card__status--p {
   text-align: center;
   font-size: 15px;
   color: hsl(241, 100%, 89%);
   font-weight: 500;
   margin: auto;
   /* margin-top: 70px; */
   line-height: 22px;
   max-width: 210px;
}
@media screen and (max-width: 560px) {
   .result-card > .card__status--p {
      max-width: 230px;
   }
}
.result-card .result-card__total {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 50px auto;
}
@media screen and (max-width: 560px) {
   .result-card .result-card__total {
      width: 170px;
      height: 170px;
   }
}
.result-card .result-card__total > .result-card__score {
   font-size: 60px;
   font-weight: 800;
   color: hsl(0, 0%, 100%);
}
.result-card .result-card__total > .result-card__max-score {
   font-size: 15px;
   font-weight: 500;
   color: hsl(241, 100%, 89%);
}
.summary-card {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 560px) {
   .summary-card {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }
}
@media screen and (min-width: 560px) {
   .summary-card {
      margin-left: -45px;
      padding-left: 85px;
   }
}
@media screen and (min-width: 560px) and (max-width: 650px) {
   .summary-card {
      margin-left: -45px;
      padding-left: 65px;
   }
}
.summary-card > .summary-card__title {
   font-size: 24px;
   color: hsl(224, 30%, 27%);
   text-align: left;
   margin-bottom: 25px;
}
.summary-card > .summary-card__items {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 15px;
}
.summary-card > .summary-card__items > .summary-card__item {
   width: 100%;
   border-radius: 10px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
}
.summary-card > .summary-card__items > .summary-card__item > .summary-card__icon {
   margin-right: 10px;
}
.summary-card > .summary-card__items > .summary-card__item > .summary-card__icon > img {
   max-width: 100%;
}
.summary-card > .summary-card__items > .summary-card__item > .summary-card__item-title {
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
}
.summary-card > .summary-card__items > .summary-card__item > .summary-card__item-value {
   margin-left: auto;
   color: hsl(224, 30%, 27%);
   font-size: 18px;
   font-weight: 700;
}

.summary-card__item.card__item--reaction {
   background-color: hsla(0, 100%, 67%, 0.123);
}
.summary-card__item.card__item--memory {
   background-color: hsla(39, 100%, 56%, 0.123);
}
.summary-card__item.card__item--verbal {
   background-color: hsla(166, 100%, 37%, 0.123);
}
.summary-card__item.card__item--visual {
   background-color: hsla(234, 85%, 45%, 0.123);
}
.summary-card__item.card__item--reaction > .card__item-title {
   color: hsl(0, 100%, 67%);
}
.summary-card__item.card__item--memory > .card__item-title {
   color: hsl(39, 100%, 56%);
}
.summary-card__item.card__item--verbal > .card__item-title {
   color: hsl(166, 100%, 37%);
}
.summary-card__item.card__item--visual > .card__item-title {
   color: hsl(234, 85%, 45%);
}
.summary-card > .summary-card__items > .summary-card__item > .summary-card__item-value > p {
   color: hsl(241, 100%, 89%);
   font-size: 17px;
   display: inline;
}
.summary-card__button {
   width: 100%;
   text-align: center;
   padding: 20px 0;
   border: none;
   outline: none;
   background: hsl(224, 30%, 27%);
   color: hsl(0, 0%, 100%);
   text-transform: capitalize;
   font-size: 18px;
   cursor: pointer;
   border-radius: 50px;
   margin-top: 40px;
}
.summary-card__button:hover {
   background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
/* - White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%) */

/* - Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%) */
